.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: $border-radius;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    border-bottom-right-radius:$border-radius;
    border-bottom-left-radius:$border-radius;
}

.card-header {
    padding: 1rem 1rem;
    background-color: $card_header_bg;
    border-top-right-radius:$border-radius;
    border-top-left-radius:$border-radius;
    margin-bottom: 0;
    border-bottom: 1px solid $border_color;
}