$font_stack_light: "Roboto-Light";
$font_stack: "Roboto-Regular";
$font_stack_bold: "Roboto-Bold";

$white_color: #fff;
$black_color: #131313;
$menu_color: #000;
$icon_color: #0c2e60;
$icon_bg: #f0f4f6;
$border-radius: 10px;
$card_header_bg: #433e5c;
$btn_bg: #293b79;
$btn_hover: #293b79;
$base_color: #293b79;
$section_bg: #111010;
$heading_color: #001b5e;
$heading_color2: #ff8b23;
$p_color: #666666;

$border_color: #edeff2;
$footer_bg: #303030;

$medium_device: "only screen and (min-width: 992px) and (max-width: 1200px)";
$tab_device: "only screen and (min-width: 768px) and (max-width: 991px)";
$large_mobile: "only screen and (min-width: 576px) and (max-width: 767px)";
$tab: "(max-width: 991px)";
$lg_tab: "(max-width: 1200px)";
$small_mobile: "(max-width: 576px)";
$xs_mobile: "(max-width: 420px)";
$sm_mobile: "only screen and (min-width: 421px) and (max-width: 575px)";
$big_screen: "only screen and (min-width: 1200px) and (max-width: 1440px)";
$extra_big_screen: "only screen and (min-width: 1200px) and (max-width: 3640px)";
